/* Color Theme Swatches in Hex */
/*.principal { color:#000000; }
.destaque { color: #F10000; }
.background { color: #DCDCDC; } */



html {
    background:#DCDCDC;
    color: #000000;
    font-size: 20px;
    font-family: sans-serif;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

.summary {
    text-align: center;
}

.main p {
    line-height: 1.5;
}

a {
    color:#F10000;
}

abbr {
    color:#F10000;
    font-variant: small-caps;
}

.page-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro {
    height: 550px;
}

#design-archives {
    display: none;
}

#zen-intro header {
    background-color: black;
    color: white;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}

#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {
    margin: 4%;
}

.main footer a {
    border: solid 2px black;
    padding: 0.5em;
}